@use '../helpers' as *;

.clients {
  position: relative;
  padding-block: 40px;

  &::before {
    content: '';
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: var(--bg-light);

    @include abs-center;
  }

  &__container {
    @include flex-center;

    flex-direction: column;
  }

  &__title {
    margin-bottom: 8px;
    color: var(--text-grey);
  }

  &__content {
    margin-bottom: 16px;
    color: var(--text-grey-light);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding-block: 25px;
  }
}