@use '../helpers' as *;

.customers {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
    padding-block: 32px;
  }

  &__image-container {
    @include square(325px);

    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-l);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  &__images {
    @include flex-center;

    gap: 32px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .list__item {
    img {
     @include square(48px);
    }
  }

  &__link {
    position: relative;
    padding-right: 32px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--border-color);

    @include hover {
      color: var(--border-hover);
    }

    &::after {
      @include abs-y;

      content: '';
      right: 0;
      background: url('/arrow-right.svg') center/contain no-repeat;

      @include square(24px);
    }
  }
}