@use '../helpers' as *;

.customers {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
    padding-block: 32px;
  }

  &__image-container {
    @include square(325px);
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-l);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  &__images {
    @include flex-center;
    gap: 32px;
  }

  &__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .list__item {
    img {
     @include square(48px);
    }
  }

  &__link {
    color: var(--border-color);
    font-weight: 600;
    line-height: 1.4;
    position: relative;
    padding-right: 32px;

    @include hover() {
      color: var(--border-hover);
    }

    &::after {
      @include abs-y;
      content: '';
      @include square(24px);
      background: url('/arrow-right.svg') center/contain no-repeat;
      right: 0;
    }
  }
}