@use '../helpers' as *;

.demo {
  &__container {
    @include flex-center();
    flex-direction: column;
    padding-block: 32px;
    gap: 32px;
  }

  &__title {
    line-height: 1.1875;
    text-align: center;
    color: var(--text-grey);
  }

  &__link {
    background-color: var(--border-color);
    color: var(--bg);
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    padding: 14px 50px 14px 32px;
    border-radius: var(--border-radius-xxxs);

    @include hover() {
      opacity: 0.75;
      color: var(--bg);
    }

    &:active {
      opacity: 0.9;
    }

    &::after {
      @include abs-y;
      content: '';
      @include square(24px);
      background: url('/arrow-right--white.svg') center/contain no-repeat;
      right: 18px;
    }
  }
}