@use '../helpers' as *;

.demo {
  &__container {
    @include flex-center;

    flex-direction: column;
    gap: 32px;
    padding-block: 32px;
  }

  &__title {
    line-height: 1.1875;
    text-align: center;
    color: var(--text-grey);
  }

  &__link {
    position: relative;
    padding: 14px 50px 14px 32px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bg);
    background-color: var(--border-color);
    border-radius: var(--border-radius-xxxs);

    @include hover {
      color: var(--bg);
      opacity: 0.75;
    }

    &:active {
      opacity: 0.9;
    }

    &::after {
      @include abs-y;

      content: '';
      right: 18px;
      background: url('/arrow-right--white.svg') center/contain no-repeat;

      @include square(24px);
    }
  }
}