@use '../helpers' as *;

.footer {
  position: relative;
  display: flex;
  gap: 56px;
  padding: 65px 165px;
  color: var(--bg);
  background-color: var(--secondary);

  &::before {
    content: '';
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: var(--secondary);

    @include abs-center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
  }

  &__contacts {
    display: flex;
    gap: 30px;
    width: 70%;
  }

  &__logo {
    display: flex;
    gap: 8px;

    @include hover {
      opacity: 0.7;
      transition-duration: var(--transition-duration);
    }
  }

  &__extra {
    line-height: 1.42857;
    color: var(--text-silver);
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1.4;
  }
}