@use '../helpers' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 22px 105px;

  &__logo {
    display: flex;
    gap: 8px;

    @include hover {
      opacity: 0.7;
      transition-duration: var(--transition-duration);
    }
  }

  &__menu {
    &-list {
      display: flex;
      gap: 50px;
    }
  }

  &__controls {
    display: flex;
    gap: 14px;

    &-login,
    &-sign {
      --input-height: 40px;

      width: 100px;
      padding: 4px 8px;
    }

    &-login {
      color: var(--border-color);
      background-color: transparent;

      @include hover {
        background-color: transparent;
        opacity: 0.6;
      }

      &:active {
        color: var(--border-active);
        opacity: 1;
      }
    }
  }
}