@use '../helpers' as *;

.hero {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }

  &__title {
    margin-bottom: 16px;
    line-height: 1.1875;
    color: var(--text-grey);

    &-green {
      color: var(--border-color);
    }
  }

  &__description {
    margin-bottom: 32px;
    color: var(--text-grey-light);
  }

  &__registration {
    --input-height: 52px;

    width: 128px;
    padding: 12px 18px;
  }

  &__image-container {
    width: 390px;
    height: 410px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}