@use '../helpers' as *;

.review-card {
  &__body {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-grey-light);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-weight: 600;
    font-style: normal;
    line-height: 1.4;
    color: var(--border-color);
  }

  &__company {
    font-style: normal;
    color: var(--text-grey-light);
  }
}