@use '../helpers' as *;

.update-card {
  @include flex-center;

  flex-direction: column;
  max-height: 390px;

  &__image {
    max-width: 370px;
    max-height: 290px;
    border-radius: var(--border-radius);
  }

  &__body {
    z-index: 1;
    flex-direction: column;
    gap: 16px;
    max-width: 320px;
    padding: 16px;
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-m);
    transform: translateY(-50%);

    @include flex-center;
  }

  &__title {
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    color: var(--text-grey-light);
  }

  &__link {
    position: relative;
    padding-right: 32px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--border-color);

    @include hover {
      color: var(--border-hover);
    }

    &::after {
      @include abs-y;

      content: '';
      right: 0;
      background: url('/arrow-right.svg') center/contain no-repeat;

      @include square(24px);
    }
  }
}