@use 'helpers/index' as *;

:root {
  --bg-dark: #e5e6ea;
  --bg: #f5f7fa;
  --bg-light: #fcfdff;

  --text: #18191f;
  --text-grey: #4d4d4d;
  --text-grey-light: #717171;
  --text-silver: #d5d6d9;
  --highlight: oklch(77% 0.04 240deg);

  --border-color: oklch(63% 0.15 145deg);
  --border-hover: oklch(57% 0.14 145deg);
  --border-active: #327034;

  --primary: oklch(68% 0.17 145deg);
  --secondary: #263238;

  --danger:  oklch(59% 0.22 25deg);
  --warning: oklch(86% 0.15 95deg);
  --success:  oklch(50% 0.13 150deg);
  --info: oklch(62% 0.18 245deg);

  --shadow-l: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
  --shadow-m: 0 6px 12px 0 rgba(171, 190, 209, 0.3);
  --shadow-s: 0 2px 4px 0 rgba(171, 190, 209, 0.6);

  --border: var(--border-width-m) solid var(--border-color);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-xm: 2px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --input-height: 48px;

  --font-family-base: 'Inter', sans-serif;
  --font-family--secondary: 'Montserrat', sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 24px;

  --transition-duration: 0.2s;
}
