@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'components/alert';
@use 'components/section';
@use 'components/button';
@use 'components/header';
@use 'components/hero';
@use 'components/swiper';
@use 'components/clients';
@use 'components/community';
@use 'components/card';
@use 'components/unlock';
@use 'components/achievements';
@use 'components/calender';
@use 'components/customers';
@use 'components/review-card';
@use 'components/updates';
@use 'components/update-card';
@use 'components/demo';